extends ../template-copy

block variables
    - var title = 'Блог'
    - var contactForm = true

block content
    main
        .wrapper 
            nav.breadcrump.center
                ul.breadcrump__menu
                    li 
                        a.breadcrump__menu-link(href="index.html") Главная 
                    li  
                        a.breadcrump__menu-link.breadcrump__menu-link-active(href="blog.html") Блог
            section.blog.center
                h2.blog__title.section__title Блог
                .blog__content
                    a(href="company-news.html").blog__img-box
                        //- img.blog-img(src="assets/images/blog-img1.png", alt="blog-image")
                        img(src="https://picsum.photos/385/250" alt="image")
                        h3.blog__img-box-title Новость компании
                        p.blog__img-box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a(href="rhizome.html").blog__img-box
                        img.blog-img(src="assets/images/rhizome.png", alt="blog-image")
                        h3.blog__img-box-title Новость компании
                        p.blog__img-box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a(href="company-news.html").blog__img-box
                        //- img.blog-img(src="assets/images/blog-img1.png", alt="blog-image")
                        img(src="https://picsum.photos/385/250" alt="image")
                        h3.blog__img-box-title Новость компании
                        p.blog__img-box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a(href="company-news.html").blog__img-box
                        //- img.blog-img(src="assets/images/blog-img1.png", alt="blog-image")
                        img(src="https://picsum.photos/385/250" alt="image")
                        h3.blog__img-box-title Новость компании
                        p.blog__img-box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a(href="company-news.html").blog__img-box
                        //- img.blog-img(src="assets/images/blog-img1.png", alt="blog-image")
                        img(src="https://picsum.photos/385/250" alt="image")
                        h3.blog__img-box-title Новость компании
                        p.blog__img-box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a(href="company-news.html").blog__img-box
                        //- img.blog-img(src="assets/images/blog-img1.png", alt="blog-image")
                        img(src="https://picsum.photos/385/250" alt="image")
                        h3.blog__img-box-title Новость компании
                        p.blog__img-box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a(href="company-news.html").blog__img-box
                        //- img.blog-img(src="assets/images/blog-img1.png", alt="blog-image")
                        img(src="https://picsum.photos/385/250" alt="image")
                        h3.blog__img-box-title Новость компании
                        p.blog__img-box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a(href="company-news.html").blog__img-box
                        //- img.blog-img(src="assets/images/blog-img1.png", alt="blog-image")
                        img(src="https://picsum.photos/385/250" alt="image")
                        h3.blog__img-box-title Новость компании
                        p.blog__img-box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a(href="company-news.html").blog__img-box
                        //- img.blog-img(src="assets/images/blog-img1.png", alt="blog-image")
                        img(src="https://picsum.photos/385/250" alt="image")
                        h3.blog__img-box-title Новость компании
                        p.blog__img-box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a(href="company-news.html").blog__img-box
                        //- img.blog-img(src="assets/images/blog-img1.png", alt="blog-image")
                        img(src="https://picsum.photos/385/250" alt="image")
                        h3.blog__img-box-title Новость компании
                        p.blog__img-box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a(href="company-news.html").blog__img-box
                        //- img.blog-img(src="assets/images/blog-img1.png", alt="blog-image")
                        img(src="https://picsum.photos/385/250" alt="image")
                        h3.blog__img-box-title Новость компании
                        p.blog__img-box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a(href="company-news.html").blog__img-box
                        //- img.blog-img(src="assets/images/blog-img1.png", alt="blog-image")
                        img(src="https://picsum.photos/385/250" alt="image")
                        h3.blog__img-box-title Новость компании
                        p.blog__img-box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.        
            .blog__link-box
                a.blog__link.appeal__link(href="#") Смотреть все             
            section.appeal.center
                .appeal__block
                    img.appeal__img(src="assets/images/appeal-img.png")
                .appeal__block.appeal__block-right
                    h3.appeal__heading Хотели бы узнать больше?
                    a.appeal__link.popup-link(href="#popup") Обратиться к нам 

                        
                                 
                           
