extends ../template-copy

block variables
    - var title = 'Продукция'
    - var contactForm = true

block content
    main
        .wrapper 
            nav.breadcrump.center
                ul.breadcrump__menu
                    li 
                        a.breadcrump__menu-link(href="index.html") Главная 
                    li  
                        a.breadcrump__menu-link.breadcrump__menu-link-active(href="catalog.html") Серии
            section.series.center
                h1.section__title.series__title Серии
                .tabs
                    nav.tabs__items
                        a(href="#tab01").tabs__item Cabin
                        a(href="#tab02").tabs__item Зиг - заг
                        a(href="#tab03").tabs__item Патио
                    .tabs__body
                        .tabs__block#tab01                 
                            a(href="cabin.html").tabs__link
                                img(src="assets/images/series-cabin-img.jpg")
                            .tabs__desc
                                .tabs__desc-heading 
                                    h3 Описание серии CABIN
                                    p.section__text Красивый миниатюрный дом, содержащий две спальни. За счет компактного размера у этой серии появляется больше вариантов расположения. Такой дом будет одинаково устойчив как на ровной местности, так и на склонах. Высокая устойчивость и маленькие размеры делают серию CABIN универсальной. 
                                a.tabs__link-mobile(href="cabin.html") смотреть серию
                                //- section.short-info                 
                                //-     article.short-info__article.article
                                //-         .short-info__heading-block
                                //-             h2.short-info__heading.article__heading Краткая информация о концепции
                                //-         .article-text-block
                                //-             p.section__text В основу планировочных решений домов модульной серии лег анализ десятков лучших мировых примеров частных домов. На базе этого анализа, нами были спроектированы дома различной конфигурации, площади, набора помещений и отношений с окружением.
                                //-             p.section__text Все планировки компонуются из базовых блок-образно, формирующие полузамкнутые внутренние модулей, каждый из которых отвечает за ту или иную функцию, входящую в планировку дома. 
                                section.carried 
                                    .carried__content
                                        h2.carried__title.section__title Выполненные проекты серии Cabin
                                        .carried__projects 
                                            .carried__projects-item
                                                .swiper-container.swiper7
                                                    .swiper-wrapper
                                                        <!-- Slides -->
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img1.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img2.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img1.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img2.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img1.jpg" alt="slider-image")
                                                    <!-- If we need pagination -->
                                                    .swiper-pagination.swiper7-pagination
                                                    <!-- If we need navigation buttons -->
                                                    .swiper-button-prev.swiper7-button-prev
                                                        svg(width="50" height="50")
                                                            use(xlink:href="./assets/images/sprite.svg#swiper1-arrow-left")
                                                    .swiper-button-next.swiper7-button-next
                                                        svg(width="50" height="50")
                                                            use(xlink:href="./assets/images/sprite.svg#swiper1-arrow-right")  
                                                .carried__projects-desc
                                                    h3 Выполненный проект 1
                                                    h4 Основные характеристики
                                                    .charact-box
                                                        .charact-box__items 
                                                            .charact-item
                                                                p Площадь
                                                                p 80 кв.м 
                                                            .charact-item
                                                                p Количество комнат
                                                                p 2
                                                        .charact-box__items         
                                                            .charact-item
                                                                p Внутреняя отделка
                                                                p Есть 
                                                            .charact-item
                                                                p Внешняя отделка
                                                                p Светлая
                                            .item-clear                   
                                            .carried__projects-item
                                                .swiper-container.swiper8
                                                    .swiper-wrapper
                                                        <!-- Slides -->
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img2.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img2.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img1.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img2.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img1.jpg" alt="slider-image")
                                                    <!-- If we need pagination -->
                                                    .swiper-pagination.swiper8-pagination
                                                    <!-- If we need navigation buttons -->
                                                    .swiper-button-prev.swiper8-button-prev
                                                        svg(width="50" height="50")
                                                            use(xlink:href="./assets/images/sprite.svg#swiper1-arrow-left")
                                                    .swiper-button-next.swiper8-button-next
                                                        svg(width="50" height="50")
                                                            use(xlink:href="./assets/images/sprite.svg#swiper1-arrow-right")
                                                .carried__projects-desc
                                                    h3 Выполненный проект 2
                                                    h4 Основные характеристики
                                                    .charact-box 
                                                        .charact-box__items 
                                                            .charact-item
                                                                p Площадь
                                                                p 80 кв.м 
                                                            .charact-item
                                                                p Количество комнат
                                                                p 2
                                                        .charact-box__items         
                                                            .charact-item
                                                                p Внутреняя отделка
                                                                p Есть 
                                                            .charact-item
                                                                p Внешняя отделка
                                                                p Светлая 
                        .tabs__block#tab02                 
                            a(href="zigzag.html").tabs__link
                                //- img(src="assets/images/series-cabin-img.jpg")
                                img(src="https://picsum.photos/1194/770" alt="image")
                            .tabs__desc
                                .tabs__desc-heading 
                                    h3 Описание серии ЗИГ - ЗАГ
                                    p.section__text Дом Зиг-Заг содержит три спальных комнаты. Благодаря своей форме этот дом отлично подойдет для участков большой площади. Данную серию отличает наличие определенных элементов: террасы-внутреннего двора, стеклянной галереи и коридора с окном. Окна расположены на одной стороне дома, обеспечивая одинаковый вид из всех помещений. Наличие панорамных окон визуально увеличивают площадь дома. Такой дом станет стильным и современным вариантом дачного дома.
                                a.tabs__link-mobile(href="zigzag.html") смотреть серию
                                //- section.short-info                 
                                //-     article.short-info__article.article
                                //-         .short-info__heading-block
                                //-             h2.short-info__heading.article__heading Краткая информация о концепции
                                //-         .article-text-block
                                //-             p.section__text В основу планировочных решений домов модульной серии лег анализ десятков лучших мировых примеров частных домов. На базе этого анализа, нами были спроектированы дома различной конфигурации, площади, набора помещений и отношений с окружением.
                                //-             p.section__text Все планировки компонуются из базовых блок-образно, формирующие полузамкнутые внутренние модулей, каждый из которых отвечает за ту или иную функцию, входящую в планировку дома. 
                                section.carried 
                                    .carried__content
                                        h2.carried__title.section__title Выполненные проекты серии Зиг -Заг
                                        .carried__projects 
                                            .carried__projects-item
                                                .swiper-container.swiper7
                                                    .swiper-wrapper
                                                        <!-- Slides -->
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img1.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img2.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img1.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img2.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img1.jpg" alt="slider-image")
                                                    <!-- If we need pagination -->
                                                    .swiper-pagination.swiper7-pagination
                                                    <!-- If we need navigation buttons -->
                                                    .swiper-button-prev.swiper7-button-prev
                                                        svg(width="50" height="50")
                                                            use(xlink:href="./assets/images/sprite.svg#swiper1-arrow-left")
                                                    .swiper-button-next.swiper7-button-next
                                                        svg(width="50" height="50")
                                                            use(xlink:href="./assets/images/sprite.svg#swiper1-arrow-right")  
                                                .carried__projects-desc
                                                    h3 Выполненный проект 1
                                                    h4 Основные характеристики
                                                    .charact-box
                                                        .charact-box__items 
                                                            .charact-item
                                                                p Площадь
                                                                p 80 кв.м 
                                                            .charact-item
                                                                p Количество комнат
                                                                p 2
                                                        .charact-box__items         
                                                            .charact-item
                                                                p Внутреняя отделка
                                                                p Есть 
                                                            .charact-item
                                                                p Внешняя отделка
                                                                p Светлая
                                            .item-clear                   
                                            .carried__projects-item
                                                .swiper-container.swiper8
                                                    .swiper-wrapper
                                                        <!-- Slides -->
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img1.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img2.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img1.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img2.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img1.jpg" alt="slider-image")
                                                    <!-- If we need pagination -->
                                                    .swiper-pagination.swiper8-pagination
                                                    <!-- If we need navigation buttons -->
                                                    .swiper-button-prev.swiper8-button-prev
                                                        svg(width="50" height="50")
                                                            use(xlink:href="./assets/images/sprite.svg#swiper1-arrow-left")
                                                    .swiper-button-next.swiper8-button-next
                                                        svg(width="50" height="50")
                                                            use(xlink:href="./assets/images/sprite.svg#swiper1-arrow-right")
                                                .carried__projects-desc
                                                    h3 Выполненный проект 2
                                                    h4 Основные характеристики
                                                    .charact-box 
                                                        .charact-box__items 
                                                            .charact-item
                                                                p Площадь
                                                                p 80 кв.м 
                                                            .charact-item
                                                                p Количество комнат
                                                                p 2
                                                        .charact-box__items         
                                                            .charact-item
                                                                p Внутреняя отделка
                                                                p Есть 
                                                            .charact-item
                                                                p Внешняя отделка
                                                                p Светлая                                
                        .tabs__block#tab03                
                            a(href="patio.html").tabs__link
                                img(src="https://picsum.photos/1194/770" alt="image")
                                //- img(src="assets/images/series-cabin-img.jpg")
                            .tabs__desc
                                .tabs__desc-heading 
                                    h3 Описание серии ПАТИО
                                    p.section__text В доме Патио располагаются три спальни. Такую постройку лучше располагать на участке большого размера. Особенностью данной серии является наличие террасы-внутреннего двора между гостиной и одной из спален. В домах серии ПАТИО предусмотрена возможность изменения размеров дома за счет размеров кухни. Поэтому на этапе проектирования с клиентом обсуждаются пожелания по размерам жилплощади. 
                                a.tabs__link-mobile(href="patio.html") смотреть серию
                                //- section.short-info                 
                                //-     article.short-info__article.article
                                //-         .short-info__heading-block
                                //-             h2.short-info__heading.article__heading Краткая информация о концепции
                                //-         .article-text-block
                                //-             p.section__text В основу планировочных решений домов модульной серии лег анализ десятков лучших мировых примеров частных домов. На базе этого анализа, нами были спроектированы дома различной конфигурации, площади, набора помещений и отношений с окружением.
                                //-             p.section__text Все планировки компонуются из базовых блок-образно, формирующие полузамкнутые внутренние модулей, каждый из которых отвечает за ту или иную функцию, входящую в планировку дома. 
                                section.carried 
                                    .carried__content
                                        h2.carried__title.section__title Выполненные проекты серии Патио
                                        .carried__projects 
                                            .carried__projects-item
                                                .swiper-container.swiper7
                                                    .swiper-wrapper
                                                        <!-- Slides -->
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img1.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img2.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img1.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img2.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img1.jpg" alt="slider-image")
                                                    <!-- If we need pagination -->
                                                    .swiper-pagination.swiper7-pagination
                                                    <!-- If we need navigation buttons -->
                                                    .swiper-button-prev.swiper7-button-prev
                                                        svg(width="50" height="50")
                                                            use(xlink:href="./assets/images/sprite.svg#swiper1-arrow-left")
                                                    .swiper-button-next.swiper7-button-next
                                                        svg(width="50" height="50")
                                                            use(xlink:href="./assets/images/sprite.svg#swiper1-arrow-right")  
                                                .carried__projects-desc
                                                    h3 Выполненный проект 1
                                                    h4 Основные характеристики
                                                    .charact-box
                                                        .charact-box__items 
                                                            .charact-item
                                                                p Площадь
                                                                p 80 кв.м 
                                                            .charact-item
                                                                p Количество комнат
                                                                p 2
                                                        .charact-box__items         
                                                            .charact-item
                                                                p Внутреняя отделка
                                                                p Есть 
                                                            .charact-item
                                                                p Внешняя отделка
                                                                p Светлая
                                            .item-clear                   
                                            .carried__projects-item
                                                .swiper-container.swiper8
                                                    .swiper-wrapper
                                                        <!-- Slides -->
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img2.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img2.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img1.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img2.jpg" alt="slider-image")
                                                        .swiper-slide
                                                            img(src="assets/images/carried-img1.jpg" alt="slider-image")
                                                    <!-- If we need pagination -->
                                                    .swiper-pagination.swiper8-pagination
                                                    <!-- If we need navigation buttons -->
                                                    .swiper-button-prev.swiper8-button-prev
                                                        svg(width="50" height="50")
                                                            use(xlink:href="./assets/images/sprite.svg#swiper1-arrow-left")
                                                    .swiper-button-next.swiper8-button-next
                                                        svg(width="50" height="50")
                                                            use(xlink:href="./assets/images/sprite.svg#swiper1-arrow-right")
                                                .carried__projects-desc
                                                    h3 Выполненный проект 2
                                                    h4 Основные характеристики
                                                    .charact-box 
                                                        .charact-box__items 
                                                            .charact-item
                                                                p Площадь
                                                                p 80 кв.м 
                                                            .charact-item
                                                                p Количество комнат
                                                                p 2
                                                        .charact-box__items         
                                                            .charact-item
                                                                p Внутреняя отделка
                                                                p Есть 
                                                            .charact-item
                                                                p Внешняя отделка
                                                                p Светлая                                
            section.appeal.center
                .appeal__block
                    img.appeal__img(src="assets/images/appeal-img.png")
                .appeal__block.appeal__block-right
                    h3.appeal__heading.section__title Хотели бы узнать больше?
                    a.appeal__link.popup-link(href="#popup") Обратиться к нам
