extends ../template-copy

block variables
    - var title = 'Новости компании'
    - var contactForm = true

block content
    main
        .wrapper 
            nav.breadcrump.center
                ul.breadcrump__menu
                    li 
                        a.breadcrump__menu-link(href="index.html") Главная 
                    li  
                        a.breadcrump__menu-link(href="blog.html") Блог
                    li  
                        a.breadcrump__menu-link.breadcrump__menu-link-active(href="series.html") Новость компании
            section.company-news.case-carried.center
                article.centered-article
                    h2.company-news__title.case-carried__title.section__title RHIZOME
                    img(src="assets/images/rhizome.png", alt="article-image")
                    p.centered-article__text.section__text Архитектурное бюро из Петербурга, основанное в 2011 году. 
                    p.centered-article__text.section__text На сегодняшний день Rhizome – это команда из 12 архитекторов, ведущих работу над проектами разного масштаба: архитектура, благоустройство территорий, общественные интерьеры. 
                    p.centered-article__text.section__text В портфолио Rhizome – сеть отелей «Точка на карте», книжные магазины «Республика*»,  реновация Торжковского рынка и Театра Драмы в Великом Новгороде – а также работы для культурных институций – Московского музея современного искусства, ГЦСИ, Манифеста 10 и ЦВЗ Манеж. 
                    p.centered-article__text.section__text Работы бюро регулярно публикуются ведущими архитектурными изданиями, такими, как ArchDaily, Dezeen, Designboom, Archi.ru и другими, и становятся победителями премий, среди которых Собака.ru и АрхиWood.
            section.awards.case-carried.center
                .awards__block
                    h2 Премии
                    .awards__content
                        .awards__content-box
                            .awards__item                      
                                svg(width="45" height="45")
                                    use(xlink:href="./assets/images/sprite.svg#olive-branches-award-symbol")
                                p.section__text Собака.ру «Петербург будущего 2020», Архитектурное бюро года     
                            .awards__item
                                svg(width="45" height="45")
                                    use(xlink:href="./assets/images/sprite.svg#olive-branches-award-symbol")
                                p.section__text АрхиWood 2019, Павильон Гостиная в Приозерске
                        .awards__content-box
                            .awards__item
                                svg(width="45" height="45")
                                    use(xlink:href="./assets/images/sprite.svg#olive-branches-award-symbol")
                                p.section__text Собака.ру «Петербург будущего 2019», Дизайн отеля, Точка на Карте. Приозерск
                            .awards__item
                                svg(width="45" height="45")
                                    use(xlink:href="./assets/images/sprite.svg#olive-branches-award-symbol")
                                p.section__text Собака.ру «Петербург будущего 2019», Дизайн отеля, Точка на Карте. Приозерск
            section.product-slider        
                .swiper-container.swiper9
                    .swiper-wrapper.swiper-wrapper-product
                        .swiper-slide
                            img(src="assets/images/case-carried-slider-img1.png" alt="slider-image")
                            p.pic-title.pic-title-active Подпись под фото    
                        .swiper-slide
                            img(src="assets/images/case-carried-slider-img1.png" alt="slider-image")
                            p.pic-title Подпись под фото    
                        .swiper-slide
                            img(src="assets/images/case-carried-slider-img1.png" alt="slider-image")
                            p.pic-title Подпись под фото
                        .swiper-slide
                            img(src="assets/images/case-carried-slider-img1.png" alt="slider-image")
                            p.pic-title Подпись под фото    
                        .swiper-slide
                            img(src="assets/images/case-carried-slider-img1.png" alt="slider-image")
                            p.pic-title Подпись под фото    
                        .swiper-slide
                            img(src="assets/images/case-carried-slider-img1.png" alt="slider-image")
                            p.pic-title Подпись под фото
                        .swiper-slide
                            img(src="assets/images/case-carried-slider-img1.png" alt="slider-image")
                            p.pic-title Подпись под фото    
                        .swiper-slide
                            img(src="assets/images/case-carried-slider-img1.png" alt="slider-image")
                            p.pic-title Подпись под фото    
                        .swiper-slide
                            img(src="assets/images/case-carried-slider-img1.png" alt="slider-image")
                            p.pic-title Подпись под фото
                    .swiper-button-prev.swiper9-button-prev
                        svg(width="100" height="100")
                            use(xlink:href="./assets/images/sprite.svg#slider-link-left")
                    .swiper-button-next.swiper9-button-next
                        svg(width="100" height="100")
                            use(xlink:href="./assets/images/sprite.svg#slider-link")
                    .swiper-pagination.swiper-pagination-product
                    .swiper2-fraction-box
                        .swiper2-fraction
                            .swiper2-current 1
                            .swiper2-total 1 
            //- section.case-carried.center        
            //-     article.centered-article
            //-         //- h3 Заголовок
            //-         p.case-carried__description.section__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            //-         p.case-carried__description.section__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            //-         p.case-carried__description.section__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            section.rhizome-other-news.other-news.center 
                h2.other-news__title Другие новости для вас
                .other-news__content.blog__content
                    a(href="company-news.html").blog__img-box
                        img.blog-img(src="assets/images/blog-img1.png", alt="blog-image")
                        h3.blog__img-box-title Новость компании
                        p.blog__img-box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a(href="company-news.html").blog__img-box
                        img.blog-img(src="assets/images/blog-img1.png", alt="blog-image")
                        h3.blog__img-box-title Новость компании
                        p.blog__img-box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a(href="company-news.html").blog__img-box
                        img.blog-img(src="assets/images/blog-img1.png", alt="blog-image")
                        h3.blog__img-box-title Новость компании
                        p.blog__img-box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a(href="company-news.html").blog__img-box
                        img.blog-img(src="assets/images/blog-img1.png", alt="blog-image")
                        h3.blog__img-box-title Новость компании
                        p.blog__img-box-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


                        
                                 
                           
