footer.footer.center
    .footer__block 
        a.footer__logo(href="index.html")
            svg(width="230" height="59")
                use(xlink:href="./assets/images/sprite.svg#logo_horizont2")
        .block-item        
            p.footer__firm АО «ПО «ПНСК»
            p.footer__inn ИНН: 4719016582          
    .footer__block
        .footer__contacts
            svg(width="15" height="15")
                use(xlink:href="./assets/images/sprite.svg#phone-icon")
            p
                a.footer__link-tel(href="tel:88002343763")  8 (800) 234-37-63
        .footer__contacts
            svg(width="15" height="15")
                use(xlink:href="./assets/images/sprite.svg#letter-icon")
            p sale@plat-forma.pro
        .footer__contacts
            svg(width="15" height="15")
                use(xlink:href="./assets/images/sprite.svg#placeholder-icon")
            p г. Санкт-Петербург, Красное Село, улица Восстановления, 66    
    .footer__social
        a.social-icons(href="https://www.instagram.com/platforma.pro/" target="_blank")
            i.fab.fa-instagram
        
        //- a.social-icons(href="https://vk.com" target="_blank")
        //-     svg(width="23" height="13")
        //-         use(xlink:href="./assets/images/sprite.svg#vk-icon")
        //- a.social-icons(href="https://facebook.com" target="_blank")
        //-     svg(width="11" height="24")
        //-         use(xlink:href="./assets/images/sprite.svg#fb-icon")
        a.social-icons(href="https://api.whatsapp.com/send?phone=89219404578" target="_blank")
            svg(width="20" height="20")
                use(xlink:href="./assets/images/sprite.svg#whatsapp-icon")
        a.social-icons(href="tg://resolve?domain=89219404578" target="_blank")
            svg(width="23" height="20")
                use(xlink:href="./assets/images/sprite.svg#tg-icon")                
    .footer__block
        a.footer__text(href="#") Политика конфиденциальности предоставляемых данных 
        a.footer__text(href="#") Пользовательское соглашение 
        a(href="https://ra-studio.ru/").copyright Разработка сайта: RA-Studio          
